<% layout("layouts/boilerplate") -%>
    <h1 class="text-center">All Campgrounds</h1>
    <%- partial("../partials/flash-messages") %>
        <div class="text-center">
            <a href="/campgrounds/new" class="btn btn-success mb-2">Add new</a>
        </div>
        <% for (let camp of camps) { %>
            <div class="card mb-2">
                <div class="row">
                    <div class="col-md-4">
                        <img src="<%= camp.images[0].url %>" alt="<%= camp.title %>" class="img-fluid" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= camp.title %>
                            </h5>
                            <p class="card-text">
                                <%= camp.description %>
                            </p>
                            <p class="card-text text-muted">
                                <%= camp.location %>
                            </p>
                            <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>