<% layout("layouts/boilerplate") -%>
    <h1>
        <%= camp.title %>
    </h1>
    <h2>
        <%= camp.location %>
    </h2>
    <h2>
        $<%= camp.price %>
    </h2>
    <img src="<%= camp.image %>" alt="<%= camp.title %>" class="img-fluid" />
    <p>
        <%= camp.description %>
    </p>
    <footer>
        <a href="/campgrounds/<%= camp._id %>/edit">Edit Campground</a>
        <a href="/campgrounds">Back to List</a>
        <form action="/campgrounds/<%= camp._id %>?_method=delete" method="post">
            <button type="submit" class="btn btn-danger"> Delete Campground</button>
        </form>
    </footer>